header {
    width: 1280px;
    min-width: 1280px;
    max-width: 1280px;
    height: 120px;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
}
.header-wrapper {
    margin-right: auto;
    margin-left: auto;
    height: 120px;
    width: 1280px;
    min-width: 1280px;
    max-width: 1280px;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    justify-content: start;
    align-items: start;
}

.logo-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 30px;
}
.logo-wrapper>.h1 {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1px;
}
.logo-wrapper>.moto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 5px;
    letter-spacing: 1px;
}
.menu-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 580px;
    margin-top: 50px;

}
main {
    width: 1280px;
    min-width: 1280px;
    max-width: 1280px;
    height: 1342px;
    background-color: #f6f6f6;
    margin-right: auto;
    margin-left: auto;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.h2-wrapper {
    width: 400px;
    height: 90px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 400;
    margin-top: 85px;
    letter-spacing: 0px;
}

.cards {
    width: 1200px;
    height: 930px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.cards-wrapper {
    width: 1200px;
    height: 930px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}
.card-wrapper {
    height: 435px;
    width: 270px;
    min-width: 270px;
    border: 1px solid red;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: #fafafa;
}

.card {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.card-photo {
    width: 270px;
    height: 270px;
    border: 1px solid red;
    
}
.card-title {
    margin-top: 33px;
    text-align: center;
    font-family: Georgia;
    font-size: 20px;
    
}

.card-btn {
    margin-top: 30px;
    text-align: center;
    width: 187px;
    height: 52px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid red;
    border-radius: 26px;
    font-family: Georgia;
    font-size: 17px;
    line-height: 50px;
}
.pages-wrapper {
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 52px;
    margin-top: 85px;
}

.page-wrapper {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    width: 1280px;
    
    min-width: 1280px;
    max-width: 1280px;
    min-height: 355px;
    height: 355px;
    background-image: url(/shelter/assets/images/footer-gradient-background.png);
 
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: auto;
    margin-left: auto;
}
.footer-wr-wr {
    min-height: 335px;
    height: 335px;
}
.footer-wrapper {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 1280px;
    height: 335px;
    min-height: 315px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
    /* border: 1px solid red; */
}

.white {
    color: #ffffff;
    font-family: Georgia;
    font-size: 35px;

}

.footer-first-column {
    width: 280px;
    height: 234px;
    margin-left: 45px;
    margin-top: 45px;

}
.footer-first-column .h1 {
    letter-spacing: 0.058em;
    line-height: 129%;
    }

.footer-second-column {
    width: 302px;
    height: 234px;
    margin-left: 150px;
    margin-top: 45px;
}
.footer-second-column > .h1 {
    letter-spacing: 0.14rem;
    line-height: 128%;
}
.footer-third-column {
    width: 300px;
    height: 315px;
    margin-left: 160px;
    margin-top: 40px;
}
.footer-email {
    vertical-align: middle;
    margin-top: 39px;
}

.footer-email span:first-child {
    display: inline-block;
    background-image: url(/shelter/assets/icons/icon-email.svg);
    width: 40px;
    height: 32px;
    vertical-align: top;
}

.footer-email span:last-child {
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #f1cdb3;
    vertical-align: top;
    margin-left: 16px;
    letter-spacing: 1.1px;

}

.footer-phone {
    vertical-align: middle;
    /* border: 1px solid black; */
    margin-top: 38px;
}

.footer-phone span:first-child {
    display: inline-block;
    background-image: url(/shelter/assets/icons/icon-phone.svg);
    width: 40px;
    height: 32px;
}
.footer-phone span:last-child {
    display: inline-block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #f1cdb3;
    vertical-align: top;
    margin-left: 16px;
    margin-top: 4px;
    letter-spacing: 1.1px;

}

.fad {
    width: 22px;
    height: 32px;
    background-image: url(/shelter/assets/icons/icon-marker.svg);
    margin-top: 40px;
    width: 255px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-address-1::after {
    content: "1 Central Street, Boston (entrance from the store)";
    position: relative;
    width: 200px;
    font-family: Georgia, serif;
    font-size: 20px;
    left: 41px;
    top: -8px;
    color: #f1cdb3;
    letter-spacing: 0.07rem;

}

.footer-address-2::after {
    content: "18 South Park, London";
    position: relative;
    width: 200px;
    font-family: Georgia, serif;
    font-size: 20px;
    left: 41px;
    top: 4px;
    color: #f1cdb3;
    letter-spacing: 0.075rem;

}