@import "./nerkoOne.css";
.main-container {
  width: 640px;
  min-width: 640px;
  max-width: 640px;
  min-height: 650px;
  max-height: 650px;
  height: 650px;
  box-shadow: 0px 1px 12px 4px rgba(0,0,0,0.6);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}