@import "./nerkoOne.css";
.main-container {
  width: 1040px;
  min-width: 1040px;
  max-width: 1040px;
  min-height: 620px;
  max-height: 620px;
  height: 620px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
}