.menu-container {
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* opacity: 0.5; */
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #d2b48c;
  z-index: 8;
}

.menu-text-container {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #d6a96d; */
  /* opacity: 1; */
  z-index: 9;
}

.menu-page-container, .menu-categories-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: #d6a96d; */
  /* opacity: 1; */
  /* z-index: 9; */
}
.page-title-menu, .category-title-menu {
  background-color: #d67a02;
  /* opacity: 0.5; */
  color: black;
  height: 35px;
  margin: 10px auto;
  font-size: 25px;
  width: 100%;
  text-align: center;
  /* z-index: 10; */
  /* border: 1px solid black; */
  padding: 0;
  /* opacity: 1; */
  cursor: pointer;
}

.page-title-menu > p, .category-title-menu > p {
  line-height: 27px;
  padding: 0;
  padding-top: 4px;
  margin: 0;
}

.menu-item-category {
  background-color: #d89a48;
  /* opacity: 0.5; */
  color: black;
  height: 30px;
  margin: 10px auto;
  font-size: 22px;
  width: 100%;
  text-align: center;
  z-index: 10;
  /* border: 1px solid black; */
  padding: 0;
  /* opacity: 1; */
  cursor: pointer;
}

.active-item {
  background-color: #48d860;
}

.menu-item-category > p {
  line-height: 25px;
  padding: 0;
  padding-top: 2px;
  margin: 0;
  /* opacity: 1; */
  /* border: 1px solid rgb(255, 25, 0); */
}

.display-none {
  dispaly: none;
  left: -400px;
}