.statistics-container {
  width: 1040px;
  min-width: 1040px;
  max-width: 1040px;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  /* box-shadow: 0px 1px 12px 4px rgba(0,0,0,0.6); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  /* border: 1px solid darkgoldenrod; */
}

.statistics-category-container {
  width: 98%;
  min-width: 98%;
  max-width: 98%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto;
  background-color: rgb(223, 239, 255);
}

.statistics-category-title {
  widows: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
  background-color: rgb(126, 157, 187);
  margin: 0 auto;
  padding: 0;
  color: black;
  font-size: 18px;
  text-align: center;
  margin-bottom: 3px;
}

.statistics-words-container {
  widows: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 230px;
  min-height: 230px;
  max-height: 230px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: start;
  /* border: 1px solid darkgoldenrod; */
  align-items: center;

}

.row-stat, .row-stat-title {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height:20px;
  min-height: 20px;
  max-height: 20px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
}

.row-stat-title {
  font-weight: bold;
  background-color: springgreen;
}

.stat-column-title {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
  position: relative;
}
.stat-column {
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
}

.first-stat-column-title, .first-stat-column {
  width: 5%;
  min-width: 5%;
  max-width: 5%;
  text-align: center;
}

.second-stat-column-title, .second-stat-column {
  width: 20%;
  min-width: 20%;
  max-width: 20%;
}

.third-stat-column-title, .third-stat-column {
  width: 11%;
  min-width: 11%;
  max-width: 11%;
}

.fourth-stat-column-title, .fourth-stat-column {
  width: 11%;
  min-width: 11%;
  max-width: 11%;
}

.fifth-stat-column-title, .fifth-stat-column {
  width: 11%;
  min-width: 11%;
  max-width: 11%;
}

.sixth-stat-column-title, .sixth-stat-column {
  width: 11%;
  min-width: 11%;
  max-width: 11%;
}

.seventh-stat-column-title, .seventh-stat-column {
  width: 11%;
  min-width: 11%;
  max-width: 11%;
}

.trans-stat-column-title, .translate-stat-column {
  width: 20%;
  min-width: 20%;
  max-width: 20%;
}

.up-style::after {
  position: absolute;
  content: "";
  top: 0px;
  left: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 6.9px 4px;
  border-color: transparent transparent #ff0000 transparent;

}

.down-style::after {
  position: absolute;
  content: "";
  top: 12px;
  left: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.9px 4px 0 4px;
  border-color: #ff0000 transparent transparent transparent;
}