* {
  font-family: 'Boogaloo', cursive;
}
body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.game-container {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  flex-direction: column;
}

.menu-container {
  width: 255px;
  min-width: 255px;
  max-width: 255px;
  height: 80px;
  min-height: 80px;
  max-height: 80px;
  margin-left: auto;
  margin-right: auto;
  border: 1px, solid black;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: flex-start;
  /* background-color: turquoise; */
}

select {
  margin-right: auto;
  margin-left: auto;
  width: 70px;
  height: 22px;
  margin: 0;
  margin-right: 3px;


}

.select-btn, .save-btn {
  margin-right: 16px;
}
.load-btn {
  margin: 0;
}

.game-area {
  width: 255px;
  min-width: 255px;
  max-width: 255px;
  height: 255px;
  min-height: 255px;
  max-height: 255px;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 201, 101);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 2px;
}
.four-on-four {

}

.three-on-three {

}

.eight-on-eight {

}

.blue {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 201, 101);
}


.item-62 {
  width: 60px;
  height: 60px;
  background-color: rgb(255, 218, 149);
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  font-size: 28px;
  cursor: pointer;
  /* animation: animation 2s 1 reverse; */
}

.item-50 {
  width: 46px;
  height: 46px;
  background-color: rgb(255, 218, 149);
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  font-size: 26px;
  cursor: pointer;
}

.item-41 {
  width: 39px;
  height: 39px;
  background-color: rgb(255, 218, 149);
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  padding: 8px;
  font-size: 24px;
  cursor: pointer;
}

.item-35 {
  width: 33px;
  height: 33px;
  background-color: rgb(255, 218, 149);
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  padding: 2px;
  font-size: 20px;
  cursor: pointer;
}

.item-83 {
  width: 80px;
  height: 80px;
  background-color: rgb(255, 218, 149);
  border-radius: 15px;
  text-align: center;
  box-sizing: border-box;
  padding: 12px;
  font-size: 40px;
  cursor: pointer;
}

.item-31 {
  width: 29px;
  height: 29px;
  background-color: rgb(255, 218, 149);
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  padding: 3px;
  font-size: 16px;
  cursor: pointer;
}

.item-zero {
  background-color: rgb(255, 255, 255);
  border: 0;
  color: white;
  animation: animation 1s ease-out 1;
}



.green {
  background-color: rgb(89, 226, 43);
}

.win {
  border: 1px solid black;
  cursor: pointer;
}

.best {
  /* border: 1px solid black; */
  cursor: pointer;
}

.table-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width:  100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: blanchedalmond;
  opacity: 1;
}

.table {
  margin-top: 100px;
  width: 310px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  margin-right: auto;
  margin-left: auto;


}

.table-item {
  color: black;
  height: 30px;
  background-color:white;
  width: 100%;
  font-size: 22px;
  margin-top: 10px;
  opacity: 0.7;


}

span {
  width: 200px;
  margin-right: 30px;
}

.table-noitem {
  text-align: center;
}

.background {
  /* background-color: violet; */
}

.main {
  /* background-color: turquoise; */
}

.item-opacity {
  opacity: 0;
}

.click-zone {
  /* border: 1px solid violet; */

}

.time-zone {
  /* border: 1px solid violet; */
  margin-left: 15px;
  margin-right: 25px;
}

@keyframes animation {
  from { background-color: rgb(255, 218, 149); border: 3px solid rgb(255, 201, 101); }
  10% { background-color: rgb(255, 221, 160); border: 3px solid rgb(255, 207, 116); }
  20% { background-color: rgb(255, 224, 170); border: 3px solid rgb(255, 215, 135); }
  30% { background-color: rgb(255, 227, 180); border: 3px solid rgb(255, 220, 150); }
  40% { background-color: rgb(255, 230, 193); border: 3px solid rgb(255, 225, 165); }
  50% { background-color: rgb(255, 234, 205); border: 3px solid rgb(255, 230, 180); }
  60% { background-color: rgb(255, 238, 218); border: 3px solid rgb(255, 235, 195); }
  70% { background-color: rgb(255, 242, 230); border: 3px solid rgb(255, 240, 210); }
  80% { background-color: rgb(255, 246, 240); border: 3px solid rgb(255, 245, 225); }
  90% { background-color: rgb(255, 250, 247); border: 3px solid rgb(255, 250, 240); }
  to { background-color: rgb(255, 255, 255); border: 3px solid rgb(255, 255, 255); }
}