.slide-body {
  font-size: 25px;
}

.slide4-title {
  height: 50px;
  max-height: 50px;
}

.slide4-body-top {
  width: auto;
  height: 60%;
  border: 1px solid forestgreen;
  padding: 0;
  margin: 1px;
  text-align: left;
}

.slide4-body-footer {
  width: auto;
  height: 10%;
  border: 1px solid forestgreen;
  padding: 0;
  margin: 1px;
  text-align: left;
}

.slide4-body-footer-footer {
  width: auto;
  height: 30%;
  border: 1px solid forestgreen;
  padding: 0;
  margin: 1px;
  text-align: left;
}