
.slide12-title {
  height: 50px;
  max-height: 50px;
}

.slide12-body-top {
  width: auto;
  height: 7%;
  border: 1px solid forestgreen;
  padding: 0;
  margin: 1px;
  text-align: left;
}

.slide12-body-footer {
  width: auto;
  height: 93%;
  border: 1px solid forestgreen;
  padding: 0;
  margin: 1px;
  text-align: left;
}
