.slide-body {
  font-size: 25px;
}
.slide8-body-top {
  width: auto;
  height: 7%;
    /* border: 1px solid forestgreen; */
  padding: 0;
  margin: 1px;
  text-align: left;
}

.slide8-body-middle {
  box-sizing: border-box;
  width: auto;
  height: 43%;
    /* border: 1px solid forestgreen; */
  padding: 0;
  margin: 1px;
  text-align: left;
  background-image: url("../assets/flux_sync.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  background-size: contain;
}

.slide8-body-footer {
  width: auto;
  height: 7%;
    /* border: 1px solid forestgreen; */
  padding: 0;
  margin: 1px;
  text-align: left;
}

.slide8-body-footer-footer {
  width: auto;
  height: 43%;
    /* border: 1px solid forestgreen; */
  padding: 0;
  margin: 1px;
  text-align: left;
  background-image: url("../assets/flux_async.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}