.slide-body {
  font-size: 25px;
}

.slide9-title {
  font-size: 42px;
}

.slide9-body-top {
  width: auto;
  height: 7%;
    /* border: 1px solid forestgreen; */
  padding: 0;
  margin: 1px;
  text-align: left;
}

.slide9-body-middle {
  box-sizing: border-box;
  width: auto;
  height: 43%;
    /* border: 1px solid forestgreen; */
  padding: 0;
  margin: 1px;
  text-align: left;
}

.slide9-body-footer {
  width: auto;
  height: 7%;
    /* border: 1px solid forestgreen; */
  padding: 0;
  margin: 1px;
  text-align: left;
}

.slide9-body-footer-footer {
  width: auto;
  height: 43%;
    /* border: 1px solid forestgreen; */
  padding: 0;
  margin: 1px;
  text-align: left;
}