.slide-body {
  font-size: 25px;
}
.slide3-body-top {
  width: auto;
  height: 7%;
    /* border: 1px solid forestgreen; */
  padding: 0;
  margin: 1px;
  text-align: left;
}

.slide3-body-middle {
  box-sizing: border-box;
  width: auto;
  height: 13%;
    /* border: 1px solid forestgreen; */
  padding: 0;
  margin: 1px;
  text-align: left;
}

.slide3-body-footer {
  width: auto;
  height: 80%;
    /* border: 1px solid forestgreen; */
  padding: 0;
  margin: 1px;

  background-image: url("../assets/state_init_set.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

